@media url('https://fonts.googleapis.com/css2?family=NotoSans+JP:wght@400;780');

*{
  box-sizing: border-box;
}

html {
  font-family: 'Noto sans Jp', sans-serif;
}

body {
  margin: 0;
  background-color: #b7ffd5;
}


